/Lab2/build/
/Lab3/nbproject/private/
/Lab3/build/
/Lab4/nbproject/private/
/lab5/nbproject/private/
/Lab5/nbproject/private/
/Lab4/build/
/Lab5/build/
/Lab3/src/Bai4/target/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/MVC/nbproject/private/
/MVC/build/
/QLSanPham/nbproject/private/
/QLSinhVien/nbproject/private/
/quan_ly_nhan_su/build/
/quan_ly_nhan_su/nbproject/private/
/QLSinhVien/build/
/quanLyHoaDon/nbproject/private/
/quanLyHoaDon/build/
/quanLyHoaDon/dist/
/Lab9/nbproject/private/
/mavenprojectlab9/target/
/Lab9/build/
/Lab11/nbproject/private/
/Lab12/nbproject/private/
/Lab12/build/
/Lab12/dist/
/Lab12/src/Lab12rmi_bai4/Lab12rmi_bai4/build/
/Lab12/src/Lab12rmi_bai4/Lab12rmi_bai4/nbproject/private/
/Lab9ky2nam3/Lab9ky2nam3/build/
/Lab11/build/
/Lab10/nbproject/private/
/Lab10/build/
